body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    background-color: #222242;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;

}

.timer{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    margin-bottom: 120px;
}

.container p{
    position: relative;
    color: white;
}

button{
  background-color: #222242;
  padding: 10px 20px;
  border: 1px solid #a9a9a9;
  border-radius: 25px;
  color: white;
  transition: all .2s ease;
  outline: 0 ;
  cursor: pointer;
}

button:not(:last-child){
    margin-right: 20px;
}

button:hover,
button:focus{
    border-color: #f68400;
    color: #f68400;
    box-shadow: 0px 4px 27px -12px #f68400;
}

#massage{
    display: inline-block;
    /* position: relative; */
    width: 400px;
    margin: auto;
    color: white;
    padding: 20px;
    text-align: left;
    border: 2px solid;
    border-color:  white;
    border-radius: 10px;
    background-color:  #000025;
}

